{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>lockzog Door Manager</title>
    <script type="text/javascript" src='{% static "services.js" %}'></script>
    <link rel="stylesheet" type="text/css" href='{% static "lockzog.css" %}' />
</head>
    <body>
        <div id="status" class="hidden">Use this to display information whether the action succeeded or not.</div>

        <h1>Welcome to the Hackzogtum Coburg Door Manager</h1>

        <button onclick="send_open()">Open Door</button>
        <button onclick="send_close()">Close Door</button>
    </body>
</html>
